# Get standard chrony metrics, requires chronyc executable.
[[inputs.chronyc]]
  ## chronyc command list to run. Possible elements:
  ##  - tracking
  ##  - serverstats
  ##  - sources
  ##  - sourcestats
  ##  - ntpdata
  # chronyc_commands = ["tracking", "sources", "sourcestats"]
  chronyc_commands = ["tracking", "sources", "sourcestats", "ntpdata", "serverstats", "rtcdata"]

  ## chronyc requires root access to unix domain socket to perform some commands:
  ##  - serverstats
  ##  - ntpdata
  ## sudo must be configured to allow telegraf user to run chronyc as root to use this setting.
  use_sudo = true
